.page-layout {
  > div {
    > .rigth {
      ul {
        li {
          .copy {
            i {
              margin-right: 10px;
              margin-left: initial;
            }
          }
        }
      }
    }

    > .bottom {
      h3 {
        margin-right: initial;
        margin-left: 25px;
      }
    }
  }
}

.copy-Course-popup {
  .done {


    .data {
   
      text-align: initial;
      text-align: left;

    }






  }
}
