@media (max-width:830px) {
  .page-layout {
    > div {
      .rigth {
        h1 {
          display: none;
        }
      }
      .left {
        > div {
          .content {
            margin: 0 auto;

            &.fullBox:not(.boardClass) {
              margin: 0 30px;
            }
          }

          // .content.smallBox, .content.mediumBox {
          //   margin: 0 auto;
          // }
        }
      }
    }
  }
}



@media (max-width:530px) {
  .page-layout {
    > div {
      .left {
        > div {
         .content.mediumBox {
           width: auto;
           margin: 0 10px;
          }
        }
      }

      > .bottom {
        .list {
          > ul {
            li:nth-child(n+3):not(.btn-more) {
              margin-top: 10px;
            }

            li:nth-child(n+3):not(.btn-more) {
              order: 4;
            }

            .btn-more {
              order: 3;
            }

          }
        }
        ul li {
          width: calc(33% - 1.5px);


        }
      }
    }
  }
}
@media (max-width:430px) {
  .page-layout {
    > div {
      .left {
        > div {
          .content.smallBox {
           width: auto;
           margin: 0 10px;
          }
        }
      }


      > .bottom {
        .list {
          > ul {
            li:nth-child(n+2):not(.btn-more) {
              margin-top: 10px;
            }

            li:nth-child(n+2):not(.btn-more) {
              order: 3;
            }

            .btn-more {
              order: 2;
            }

          }
        }
        ul li {
          width: calc(50% - 1.5px);


        }
      }
    }
  }
}

@media (max-width:270px) {
  .page-layout {
    > div {

      > .bottom {
        .list {
          > ul {
            li:nth-child(n+1):not(.btn-more) {
              margin-top: 10px;
            }

            li:nth-child(n+1):not(.btn-more) {
              order: 3;
            }

            .btn-more {
              order: 2;
            }

          }
        }
        ul li {
          width: calc(100% - 1.5px);


        }
      }
    }
  }
}

@media (max-width:380px) {
  .page-layout {
    > div  {
     > .left {
      margin-top: 185px;

      // .user {
      //   top: 65px;
      // }

      .buttons {
        width: 100%;
        text-align: center;
        left: 0;
        // transform: translateX(-50%);
        top: 60px;
      }

       > div {
         .content {
          padding: 20px 10px;
         }
       }

     }

     > .rigth {
      width: 100%;
      .logo {
        margin-top: 20px;
        margin: 0 auto;
      }
    }
    }

   }
}