.rate-item-PageItems {
  .elements {
    .box-rate {

      .variable-ratio {
        left : initial;
        right: 18%;
      }

    }


    .eval-text {

      > div {

        p {
          margin-right: initial;
          margin-left: 10px;
        }
      }

    }
  }
  // }
}
