.footer-app {
  .about-us {
    div {
      .social {
        li {
          margin-right: 10px;
          margin-left: initial;
        }
      }
      
      .from-juzr {
        a {
          img {
            margin-right: initial;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
