.registration-page {
  .box {
    margin: 200px auto;
    background-color: $color_white_b;
    padding: 20px;
    border-radius: 50px;
    width: 300px;
    text-align: center;

    .logo {
      margin: 20px auto;
      display: block;
      width: 200px;
    }

    .text {
      max-width: 90%;
      width: fit-content;
      text-align: justify;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 18px;
      color: $color_b;
    }

    .start {
      @extend .main-btn-lite;
      margin-top: 20px;
      span {
        margin-right: 5px;
      }
    }
  }
}
