@media (max-width: 445px) {
  .today-page-course {
    .todays-lessons {
      .done-all {
        .box-top {
          &::before {
            right: 50%;
            left: initial;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }
}
